.btn{
    width: 10em;
}

.btn-control{
    background-color: #dbdbdb;
}

.pagination-area{
    margin-top: 1em;
    float: left;
}

img{
    width:4em;
}

.user-info{
    display: inline-block;
    margin-left: 2em;
}

.page-title{
    border-right: 0.1em solid white;
}

.input-info{
    width:100%;
    height: 2.7em;
    border: 1px solid grey;
}

.btn-primary{
    margin-top: -0.2em;
}

.keyword{
    display: inline-flex;
}


.entries{
    margin-top: 1em;
}

.table-responsive{
    margin-top: 1em;
}

.button-area{
    margin-top: 1em;
}

.foot-content{
    margin-top: 1em;
}

.form-control{
    margin-left: -1em;
}

.organize{
    width:97%;
}

#status{
    margin-left: 0.1em;
}

table{
    width:100%;
}

.check-col{
    width:5%;
}

.batch-col{
    width:25%;
}

.org-col{
    width: 5%;
}

.date-col{
    width: 5%;
}

.status-col{
    width: 5%;
}

.message-col{
    width: 30%;
}

.duration-col{
    width: 10%;
}

.user-col{
    width: 25%;
}

.report{
    margin-left: 1em;
}

.date{
    margin-left: 1em;
}

#quantity{
    margin-left: 0.1em;
    display: inline-flex;
    width: 5.2em;
    height: 5vh;
    font-size: 0.8em;
}

.choose-quantity{
    margin-top: 1em;
    display: inline-flex;
}

.filter-collapse{
    float: right;
    margin-top: 1em;
    margin-right: 2em;
    display:  inline-flex;
}

#Searchbox{
    margin-right: 1em;
    width: 15em;
}

#txdate{
    margin-left: 0.1em;
}

.btn-secondary{
    width: 12em;
    font-size: 0.8em;
}

.button-pagination{
    border-radius: 45px;
    width: 4em;
    height: 4em;
    margin: 0.1em;
}

.modal-body{
    border-bottom: solid #dbdbdb 1px;
}

#header{
    width: 100%;
    height: 6vh;
    display: flex; 
    justify-content: flex-end;
}


.header-item{
    font-size: 2vh;
    margin-top: 2vh;
    margin-right: 1em;
}

.header-item span{
    margin-left: 0.5em;
}

#admin img{width: 2em; margin-left: 0.5em;}

#admin{
    margin-top: 1.5vh;
}

#language{
    border: none;
    background-color: #f8f9fe;
}